* {
    font-family: 'Manrope', sans-serif;
}
body {
    background-image: url(images/os.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}
h1 {
    color: white;
    font-size: 150px;
    text-align: center;
}

div {
    text-align: center;
    font-size: 40px;
}

.nav-item, .nav-link {
    color: white;
    padding-right: 10px;
    text-decoration: none;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body, h1 {
        width: 100%;
        height: auto;
        font-size: 50px;
        align-items: center;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    body,h1 {
            width: 100%;
            height: auto;
            font-size: 50px;
            align-items: center;
    }
}