* {
    font-family: 'Manrope', sans-serif;
}
  
nav {
    width: 100%;
    background-color: black;
    color: white;
}
.nav-item, .nav-link  {
    color: white;
    float: right;
}
#navheader {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}
#topspacer {
    height: 50px;
}

#break {
    height: 30px;
}
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .container {
    flex: 1 0 auto;
  }
  .sticky-footer {
    flex-shrink: 0;
    height: 100px;
    width: 100%;
    background-color: black;
    color: gray;
    text-align: center;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .site-content {
    flex: 1;
  }
@media screen and (max-width: 768px) {
     .container {
      width: 100%;
      padding: 20px;
    }
}